<div class="header">
  <a routerLink="/home">
    <img src="../../../assets/images/angular.png" width="40px" height="40px"/>
  </a>
  <!-- <div class="logo"></div> -->
  <nav class="app-navigator">
      <ul *ngFor='let item of navigationItems'>
        <li>
          <a [routerLink]="[item.path]">{{item.name}}</a>
        </li>
      </ul>
  </nav>
  <div class="btn-row">
    <div *ngIf="!isLoggedIn; else signout"><a routerLink='/signin'>Sign in</a></div>
    <ng-template #signout>
      <button 
        class="btn btn-signout btn-outline-light"
        (click)="handleSignout()"
        [appHightlight]='gray'
      >Sign out
      </button>
    </ng-template>
    <a routerLink='/new'>
      <button class="btn btn-add btn-outline-light" [appHightlight]='gray'>Add Product</button>
    </a>
  </div>
</div>