<div class="header">
  <img src="../../../assets/images/angular.png" width="40px" height="40px"/>
  <!-- <div class="logo"></div> -->
  <nav class="app-navigator">
      <ul *ngFor='let item of navigationItems'>
        <li>
          <a [routerLink]="[item.path]">{{item.name}}</a>
        </li>
      </ul>
  </nav>
  <div class="btn-row">
    <div ><a routerLink='/signin'>Sign in</a></div>
    <a routerLink='/new'>
      <button class="btn btn-add btn-outline-light" [appHightlight]='gray'>Add Product</button>
    </a>
  </div>
</div>